<ion-header>
  <ion-toolbar>
    <ion-title>Trabajo pendiente</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="getOrderDraft()">Refrescar</ion-button>
      <ion-button (click)="modalCtrl.dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="12">
      <ion-item color="secondary">
        <ion-label position="floating">Ordenes filtradas</ion-label>
        <ion-select [(ngModel)]="person_selected" (ionChange)="filterOrders()">
          <ion-select-option value="null">Todas</ion-select-option>
          <ion-select-option *ngFor="let person of people" [value]="person">{{ person }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let _order of orders" (click)="openOrder(_order.id)">
          <ion-label>
            <h4> <strong>({{ _order.id }})</strong>  {{ _order.partner_id[1] }}</h4>
            <p>Fecha orden de trabajo: <strong>{{_order.date_order | date:'dd/MM/yyyy'}}</strong></p>
            <ion-text color="success">
              <p *ngIf="_order.access_token && _order.state === 'draft' ">PRESUPUESTO ENVIADO</p>
            </ion-text>
            
          </ion-label>
          <ion-buttons slot="end" *ngIf="_order.state === 'sent' || _order.state === 'cancel' || _order.activity_state === 'planned' ">
            

            <ion-button size="small" disabled color="warning" *ngIf="_order.activity_state === 'planned' ">
              <ion-icon slot="icon-only" name="construct"></ion-icon>
            </ion-button>

            <ion-button size="small" disabled color="success" *ngIf="_order.state === 'sent' ">
              <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" disabled color="danger" *ngIf="_order.state === 'cancel' ">
              <ion-icon slot="icon-only" name="close-circle"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>