ion-content {
    --background: #36363a;
  }
  
  ion-toolbar {
    --background: #36363a;
    color: white;
  }
  ion-card {
    --background: #36363a;
  }
  ion-list {
    background: #36363a;
  }  
  ion-item {
    --background: #36363a;
    color: white;
}