<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon slot="icon-only"  name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Reparación: {{ sale.display_name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="endTask()" *ngIf="sale.state == 'draft' ">
        <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="update()">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="modalCtrl.dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>

    <ion-col size="12">
      <div>Cliente: <strong>{{ sale.partner_id | json }}</strong></div>
      <div>Estado de la orden: <strong>{{ status(sale.state ) }}</strong></div>
      <div>Fecha: <strong>{{ sale.date_order | date: 'dd/MM/yyyy'}}</strong></div>
    </ion-col>
    <ion-col size="12" *ngIf="partner && partner.phone_sanitized" class="ion-text-center">
      <ion-button size="small" [href]="'tel:' + partner.phone_sanitized">
        <ion-icon slot="start" name="call-outline"></ion-icon>
        {{ partner.phone_sanitized}}
      </ion-button>
      <ion-button size="small" (click)="openWhatsapp(partner.phone_sanitized)">
        <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
        {{ partner.phone_sanitized}}
      </ion-button>
    </ion-col>
    <ion-col size="12" class="ion-text-center" *ngIf="sale.state == 'sale' ">
      
      <ion-button (click)="openWhatsappEnd(partner.phone_sanitized)">
        <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
         Whatsapp finalización trabajo</ion-button>
    </ion-col>

    <ion-col size="12">
      <h4 style="margin: 0">Descripción de tareas</h4>
      <small *ngIf="sale.activity_user_id">Para hacer por  <strong>{{ sale.activity_user_id[1]  }}</strong></small>
      <ion-list>
        <ng-container *ngFor="let line of sale.order_line">
          <ion-item *ngIf="line.display_type === false">
            <ion-label class="ion-text-wrap">
              <strong>{{ line.name }}</strong> <br>
              Cantidad: <strong>{{ line.product_uom_qty}}</strong> 
              Precio: <strong>{{ line.price_unit }} €</strong> <br>
              Total: <strong>{{ line.price_total}} €</strong>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="line.display_type == 'line_note'">
            <ion-label class="ion-text-wrap">
              <strong>{{ line.name }}</strong>
            </ion-label>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="sale.state == 'draft' ">
    <ion-col size="12" class="ion-text-center">
      <ion-button (click)="modalNote = true">Añadir nota</ion-button>
      <ion-button (click)="modalProduct = true ">Añadir reparación</ion-button>
    </ion-col>
  </ion-row>


  <ion-modal [isOpen]="modalNote">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Añadir nota</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-row>
          <ion-col size="12">
            <ion-item color="secondary">
              <ion-label position="floating">Escribe aquí</ion-label>
              <ion-textarea [(ngModel)]="line"></ion-textarea>
            </ion-item>
            <ion-button (click)="addLineNote()">Añadir linea</ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="modalProduct">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Añadir reparación</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-row>
          <ion-col size="12">
            <ion-item color="secondary">
              <ion-label position="floating">Escribe aquí</ion-label>
              <ion-textarea [(ngModel)]="line"></ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item color="secondary">
              <ion-label position="floating">Cantidad</ion-label>
              <ion-input type="tel" [(ngModel)]="quantity"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item color="secondary">
              <ion-label position="floating">Precio</ion-label>
              <ion-input type="tel" [(ngModel)]="price"></ion-input>
            </ion-item>
          </ion-col>
          <ion-button [disabled]="!line || !price || !quantity" (click)="addLineProduct()">Añadir linea</ion-button>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
