ion-toolbar {
    --background: #36363a;
    color: white;
}
ion-footer {
    background: #36363a;
    color: white;
    h1 {
        font-weight: bold;
        margin: 0;
    }
}
ion-content {
    --background: #36363a;
    * {
        color: white;
    }
  }

ion-list {
    max-height: 55vh;
    overflow: auto;
    background: #36363a;
    ion-item {
        --background: #36363a;
    }
}  