<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon slot="icon-only"  name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ sale.id }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="endTask()" *ngIf="sale.state === 'draft' || sale.state === 'sent' ">
        <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="update()">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="modalCtrl.dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="sale.state === 'draft' ">
    <ion-row>
      <ion-col>
        <ion-button color="danger" expand="block" (click)="cancelDraft()">Cancelar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="success" expand="block" (click)="acceptDraft()">Aceptar</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<div class="line ion-text-center" [ngClass]="sale.state" *ngIf="sale.state === 'sent' || sale.state === 'cancel' ">
  {{ sale.state === 'sent' ? 'Presupuesto aceptado': '' }}
  {{ sale.state === 'cancel' ? 'Presupuesto NO aceptado': '' }}
</div> 
<ion-content class="ion-padding">
  <ion-row>

    <ion-col size="12">
      <div>Cliente: <strong>{{ sale.partner_id | json }}</strong></div>
      <div>Estado de la orden: <strong>{{ status(sale.state ) }}</strong></div>
      <div>Fecha: <strong>{{ sale.date_order | date: 'dd/MM/yyyy'}}</strong></div>
    </ion-col>
    <ion-col size="12" *ngIf="partner && partner.phone_sanitized" class="ion-text-center">
      <ion-button size="small" [href]="'tel:' + partner.phone_sanitized">
        <ion-icon slot="icon-only" name="call-outline"></ion-icon>
        <!-- {{ partner.phone_sanitized}} -->
      </ion-button>
      <ion-button size="small" (click)="openWhatsapp(partner.phone_sanitized)">
        <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
      </ion-button>

      <ion-button size="small" (click)="openWhatsappPresupuesto(partner.phone_sanitized)" *ngIf="sale.state === 'draft' && sale.access_token ">
        <ion-icon slot="start" name="logo-whatsapp"></ion-icon> Presupuesto
      </ion-button>

      <ion-button size="small" (click)="getLink()" *ngIf="sale.state === 'draft' && !sale.access_token ">
        Generar Link Presupuesto
      </ion-button>




    </ion-col>
    <ion-col size="12" class="ion-text-center" *ngIf="sale.state === 'sale' ">
      
      <ion-button (click)="openWhatsappEnd(partner.phone_sanitized)">
        <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
         Whatsapp finalización trabajo</ion-button>
    </ion-col>

    <ion-col size="12">
      <h4 style="margin: 0">Descripción de tareas</h4>
      <small *ngIf="sale.activity_user_id">Para hacer por  <strong>{{ sale.activity_user_id[1]  }}</strong></small>
      <ion-list class="list">
        <ng-container *ngFor="let _line of sale.order_line">
          <!-- Product -->
          <ion-item *ngIf="_line.display_type === false">
            <ion-label class="ion-text-wrap">
              <strong>{{ _line.name }}</strong> <br>
              Cantidad: <strong>{{ _line.product_uom_qty}}</strong> 
              Precio: <strong>{{ _line.price_unit }} €</strong> <br>
              Total: <strong>{{ _line.price_total}} €</strong>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="line_draft_edit = _line.id;  line = _line.name; quantity = _line.product_uom_qty ; price =  _line.price_unit;  modalProduct = true; ">
                <ion-icon  slot="icon-only" name="create-outline"></ion-icon>
              </ion-button>
              <ion-button color="danger" (click)="deleteLine(_line.id)">
                <ion-icon color="danger" slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <!-- Line Note -->
          <ion-item *ngIf="_line.display_type === 'line_note'">
            <ion-label class="ion-text-wrap">
              <strong>{{ _line.name }}</strong>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="line_note_edit = _line.id;  line = _line.name;  modalNote = true; ">
                <ion-icon  slot="icon-only" name="create-outline"></ion-icon>
              </ion-button>
              <ion-button color="danger" (click)="deleteLine( _line.id)">
                <ion-icon color="danger" slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ng-container>
       
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="sale.state === 'draft'">
    <ion-col size="12" class="ion-text-center">
      <ion-button (click)="line_note_edit = 0; modalNote = true">Añadir nota</ion-button>
      <ion-button (click)="modalProduct = true ">Añadir reparación</ion-button>
    </ion-col>
  </ion-row>

  


  <ion-modal [isOpen]="modalNote">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Nota</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-row>
          <ion-col size="12">
            <ion-item color="secondary">
              <ion-label position="floating">Escribe aquí</ion-label>
              <ion-textarea [(ngModel)]="line"></ion-textarea>
            </ion-item>
            <ion-button [disabled]="!line" *ngIf="!line_note_edit" (click)="addLineNote()">Añadir linea</ion-button>
            <ion-button [disabled]="!line" *ngIf="line_note_edit" (click)="editLineNote()">Editar linea</ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="modalProduct">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Reparación</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-row>
          <ion-col size="12">
            <ion-item color="secondary">
              <ion-label position="floating">Escribe aquí</ion-label>
              <ion-textarea [(ngModel)]="line"></ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item color="secondary">
              <ion-label position="floating">Cantidad</ion-label>
              <ion-input type="tel" [(ngModel)]="quantity"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item color="secondary">
              <ion-label position="floating">Precio</ion-label>
              <ion-input type="tel" [(ngModel)]="price"></ion-input>
            </ion-item>
          </ion-col>
          <ion-button *ngIf="!line_draft_edit" [disabled]="!line || !price || !quantity" (click)="addLineProduct()">Añadir reparación</ion-button>
          <ion-button *ngIf="line_draft_edit" [disabled]="!line || !price || !quantity" (click)="editLineProduct()">Editar reparación</ion-button>

        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="4" class="ion-text-center">
      <small>Total</small>
      <h1>{{ sale.amount_total}} €</h1>
    </ion-col>
  </ion-row>
</ion-footer>
