
.stop-scan {
  position: relative;
  z-index: 10000000;
}
.scan-box {
  border: 2px solid #fff;
  box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
  content: "";
  display: block;
  left: 50%;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

ion-content {
  --background: #36363a;
}

ion-toolbar {
  --background: #36363a;
  color: white;
}

ion-list {
  background: #36363a;
  ion-item {
      --background: #36363a;
      color: white;
  }
}  


.current-cart-list {
  height: 55vh;
  box-shadow: 1px 1px 4px black;
  overflow: auto;
  ion-list-header {
    color: var(--ion-color-primary);
  }
}