
<ion-content class="ion-padding" [style.--background]="scanActive ? '#00000000' : '#36363a' " >


  <img src="../../assets/logo.png" width="100%">
  
  <ion-button expand="full" (click)="startScanner()" [hidden]="scanActive">
    Escanear ORDEN DE TRABAJO
  </ion-button>
  <ion-item color="secondary" [hidden]="scanActive">
    <ion-label>Buscar orden</ion-label>
    <ion-input type="tel" [(ngModel)]="order"></ion-input>
  </ion-item>
  <div class="ion-padding ion-text-center">
    <ion-button [hidden]="scanActive" (click)="searchOrder()">Buscar</ion-button>
  </div>



  <ion-row class="scan-button" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="stopScanner()">Parar escanear</ion-button>
    </ion-col>
  </ion-row>
  <div class="scan-box" [hidden]="!scanActive"></div>




</ion-content>